.Pokecard {
    /* border: 5px solid chartreuse; */
    width: 400px;
    padding: 10px;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
    text-align: center;
    color: #ffcb05;
    background-color:#003A70;
    border-radius: 10px;
}

.Pokecard-data {
    font-size: 80%;
    text-transform: capitalize;
}

.Pokecard-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #ffcb05;
    border-radius: 10px;
    margin: 1rem;
}

.Pokecard img {
    transition: transform 0.5s;
}
.Pokecard img:hover {
    transform: scale(1.15);
}